<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
        <link rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Exam</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'djexam/css/style.css' %}">
    </head>
    <body>
        <div class='wrapper'>
            <div class='backlog'>
                <a href='/success'>Back</a>
                <a href='/logout'>logout</a>            
            </div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action='/logjob' method='POST'>
                {% csrf_token %}
                <label for='jobname'style='width: 140px'>Title</label>
                <input type = 'text' name='job_name'><br>
                <label for='jobname'style='width: 140px'>Job Description</label>
                <textarea placeholder='Job Description' name='job_desc' row = '10' column = '40'></textarea><br>
                <label for='jobname'style='width: 140px'>Job Location</label>            
                <input type = 'text' name='job_loc'><br>
                <input type = 'submit' value='Submit' style='margin-left: 10%'><br>
            </form>
        </div>
    </body>
</html>