<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
        <link rel="stylesheet" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Exam</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'djexam/css/style.css' %}">
    </head>
    <body>
        <div>
            <p class = 'text'>Welcome {{logInInfo.first_name}}!  <a href='/logout'>logout</a>  </p>
            <a class = 'text' href='/createjob' style = 'margin-left: 60%'>Add a Job</a>            
        </div>
        <div class = 'available'>
            <table class='maintable'>
                <thead  class='tablebodydiv'>
                    <tr>
                        <th class='tableheaddiv'>Job</th>
                        <th class='tableheaddiv'>Location</th>
                        <th class='tableheaddiv'>Action</th>
                        <th class='tableheaddiv'></th>
                        <th class='tableheaddiv'></th>
                        <th class='tableheaddiv'></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in alljobs %}
                    <tr>
                        <th>{{job.job_name}}</th>
                        <th>{{job.job_loc}}</th>
                        <th><a href="/{{job.id}}/view">View</a></th>
                        <th><a href="/{{job.id}}/add">Add</a></th>
                        {% if job.poster_id == logInInfo.id %}
                        <th><a href="/{{job.id}}/edit">Edit</a></th>
                        <th><a href="/{{job.id}}/cancel">Cancel</a></th>                    
                        {% endif %}                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class='taken'>
            <table class = 'maintable'>
                <thead   class='tablebodydiv'>
                    <tr>
                        <th class='tableheaddiv'>My Jobs</th>
                        <th class='tableheaddiv'></th>
                        <th class='tableheaddiv'></th>
                    </tr>
                </thead>
                <tbody>
                    {% for myjob in logInInfo.worker.all %}
                    <tr >
                        <th>{{myjob.job_name}}</th>
                        <th><a href='{{myjob.id}}/viewmyjob'>View</a></th>
                        <th><a href='{{myjob.id}}/jobfinish'>Done</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>